each his in histories
    .cmgroup                            
        .grpheader #{his.date}
        -for(var i = 0; i < his.cms.length; i++) {
            -var cm = his.cms[i];
            -if (i == his.cms.length - 1)
                .grpbody
                    a.comment(href=cm.fileurl)
                        -for(var i in cm.comment) {
                            #{cm.comment[i]}
                            br
                        -}
                    a.cmuser(href='#') #{cm.user}
                    span.cmdate #{cm.date}
            -else
                .grpbodyinner
                    a.comment(href=cm.fileurl)
                        -for(var i in cm.comment) {
                            #{cm.comment[i]}
                            br
                        -}
                    a.cmuser(href='#') #{cm.user}
                    span.cmdate #{cm.date}
        -}
